{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block content %}
<section class="page-title-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header-wrap">
					<div class="page-header">
						<h1>회사소개</h1>
					</div>
				   <ol class="breadcrumb">
					  <li><a href="/">홈</a></li>
					  <li class="active">회사소개</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- about-intro-section -->
<section class="about-intro-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="about-intro">
					<h2>{{ abouts.title }}</h2>

					<p>{{ abouts.text|linebreaksbr }}</p>


				</div><!-- /.about-intro -->
			</div><!-- /.col-md-7 -->
			<div class="col-md-5"></div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
<!-- /.about-intro-section -->

<!--history-section -->
<section class="history-section">
	<div class="container">
		<div class="history-timeline">
			<div id="historyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#historyCarousel" data-slide-to="0" class="active"></li>
			  </ol>

			  <!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="history-year text-center">
							<span class="year">안내문</span>
							<span class="title">기성크레인</span>
						</div>
						<div class="history-info">
						  <h3>안녕하세요. 기성크레인입니다.</h3>

							<p>귀사의 일익번창 하심을 기원 드립니다.</p>
							<p>귀사가 건설현장에서  작업하시면서 크레인이 필요하실 경우 연락 주시면 정말 감사하겠습니다.</p>
							<p>저희 기성크레인은 업체와 협력을 원칙으로 하오니 궁금한 사항이나 문의가 있으면 언제든 연락 부탁드립니다.</p>

							<p>크레인 작업은 대구전지역, 경북 인근지역( 김천,칠곡, 구미, 군위, 경산,영천, 가창, 청도, 창녕, 고령,성주) 가능합니다.</p>
							<p>필요한 장비가 있을경우 꼭 연락부탁드립니다.</p>
						</div>
					</div><!-- /.item -->
					<!--
					<div class="item">
						<div class="history-year text-center">
							<span class="year">1995</span>
							<span class="title">Established</span>
						</div>
						<div class="history-info">
						  <h3>Completely parallel task corporate supply chains without business benefits.</h3>

						  <p>Reprehenderit deserunt excepturi nostrum fugit orem ipsum dolor sit amet, consectetur adipisicing elit. Natus explicabo ut veniam, beatae a placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis minus? beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis. reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam corporis.</p>

						  <p>Natus explicabo ut veniam. Consectetur adipisicing elit. beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis minus? beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis. reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis.</p>
						</div>
					</div><!-- /.item -->
					<!--
					<div class="item">
						<div class="history-year text-center">
							<span class="year">1999</span>
							<span class="title">Established</span>
						</div>
						<div class="history-info">
						  <h3>Completely parallel task corporate supply chains without business benefits.</h3>

						  <p>Excepturi nostrum fugit enderit deserunt excepturi nostrum fugit orem ipsum dolor sit amet, consectetur adipisicing elit. Natus explicabo ut veniam, beatae a placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis minus? beatae a reprehenderit deserunt  placeat omnis. reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam corporis.</p>

						  <p>Beatae a reprehenderit explicabo ut veniam. Consectetur adipisicing elit. deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis minus? beatae a reprehenderit deserunt excepturi nostrum fugit placeat omnis. reprehenderit deserunt excepturi nostrum fugit placeat omnis adipisci consequuntur ipsam eligendi, vitae animi tenetur corporis.</p>
						</div>
					</div><!-- /.item -->

				</div><!-- /.carousel-inner -->
			</div><!-- /.carousel -->
		</div><!-- /.history-timeline -->
	</div><!-- /.container -->
</section>
<!--/.history-section -->


<!--mission-section -->
<section class="mission-section section-padding">
	<div class="container">
		<div class="text-center">
			<h2 class="section-title">장비보유현황</h2>
			<span class="section-sub">기성크레인</span>
		</div>
		<div class="annual-report-carousel">
			<div id="reportCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#reportCarousel" data-slide-to="0" class="active"></li>
				<!--<li data-target="#reportCarousel" data-slide-to="1"></li>
				<li data-target="#reportCarousel" data-slide-to="2"></li>-->
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				<div class="item active">
					<div class="annual-report clearfix">
						<div class="report-thumb">
							<img src="{% static 'img/annual-thumb.jpg' %}" alt="">
						</div>
						<div class="report-info">
							<h3>보유차량</h3>
							<p>하이드로 : 160톤, 80톤, 50톤(4대), 35톤, 25톤(2대), 22톤</p>

							<p>카고크레인 : 5톤카고크레인(5대)</p>

							<p>스카이   : 5톤스카이(2대)</p>

							<a href="#" class="btn btn-primary">안내문<i class="fa fa-download"></i></a>
						</div>
					</div><!-- /.annual-report -->
				</div><!--/.item -->
				  <!--
				<div class="item">
					<div class="annual-report clearfix">
						<div class="report-thumb">
							<img src="{% static 'img/annual-thumb.jpg' %}" alt="">
						</div>
						<div class="report-info">
							<h3>Annual Report 2015</h3>
							<p>Rapidiously actualize multidisciplinary collaboration and idea-sharing whereas installed base action items. Credibly plagiarize tactical outsourcing for progressive products. Quickly redefine corporate strategic theme areas through premium paradigms. Monotonectally promote fully researched schemas whereas process-centric e-business. Holisticly enable bleeding-edge e-services and cross-platform architectures.</p>

							<p>Holisticly maintain web-enabled mindshare vis-a-vis open-source experiences. Objectively exploit cross functional quality vectors vis-a-vis interactive resources. Monotonectally architect professional schemas whereas high-quality materials. Compellingly synthesize reliable initiatives with value-added technologies. Progressively syndicate ethical portals rather than technically sound opportunities.</p>
							<a href="#" class="btn btn-primary">Download Report <i class="fa fa-download"></i></a>
						</div>
					</div><!-- /.annual-report -->
				  <!--
				</div><!--/.item -->
				  <!--
				<div class="item">
					<div class="annual-report clearfix">
						<div class="report-thumb">
							<img src="{% static 'img/annual-thumb.jpg' %}" alt="">
						</div>
						<div class="report-info">
							<h3>Annual Report 2015</h3>
							<p>Rapidiously actualize multidisciplinary collaboration and idea-sharing whereas installed base action items. Credibly plagiarize tactical outsourcing for progressive products. Quickly redefine corporate strategic theme areas through premium paradigms. Monotonectally promote fully researched schemas whereas process-centric e-business. Holisticly enable bleeding-edge e-services and cross-platform architectures.</p>

							<p>Holisticly maintain web-enabled mindshare vis-a-vis open-source experiences. Objectively exploit cross functional quality vectors vis-a-vis interactive resources. Monotonectally architect professional schemas whereas high-quality materials. Compellingly synthesize reliable initiatives with value-added technologies. Progressively syndicate ethical portals rather than technically sound opportunities.</p>
							<a href="#" class="btn btn-primary">Download Report <i class="fa fa-download"></i></a>
						</div>
					</div><!-- /.annual-report -->
				  <!--
				</div><!--/.item -->
			  </div><!-- /.carousel-inne -->
			</div><!--/.carousel -->
		</div><!-- /.annual-report-carousel -->
	</div><!-- /.container -->
</section>
<!--/.history-section -->

<!-- footer-widget-section start -->
<section class="footer-widget-section section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-1 col-sm-4">
				<div class="footer-widget">
					<h3>회사위치</h3>

					<address>
						경북 칠곡군<br>
						지천면 오산리 479-1<br>

						<!-- Google Map Modal Trigger -->
						<button type="button" class="modal-map" data-toggle="modal" data-target="#cssMapModal">회사위치</button>

						<span class="tel">(053) 357-2271</span>
					</address>


					<!-- Modal -->
					<div class="modal fade" id="cssMapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
						<div class="modal-content">
						  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Our Location</h4>
						  </div>
						  <div class="modal-body">

							<div id="googleMap"></div>

						  </div>
						</div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- End Modal -->
				</div><!-- /.footer-widget -->
			</div><!-- /.col-md-4 -->

		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.cta-section -->
<!-- footer-widget-section end -->

<!-- copyright-section start -->
<footer class="copyright-section">
	<div class="container text-center">
		<div class="footer-menu">
			<ul>
				<li><a href="#">Privacy &amp; Cookies</a></li>
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li><a href="#">Accessibility</a></li>
			</ul>
		</div>

		<div class="copyright-info">
			<span>Copyright © 2015 Unship. All Rights Reserved. Designed by <a href="https://uicookies.com">uiCookies</a><br> Proudly powered by <a href="http://www.w3schools.com/html/html5_intro.asp">HTML5</a> and <a href="getbootstrap.com">Bootstrap3</a></span>
		</div>
	</div><!-- /.container -->
</footer>
<!-- copyright-section end -->
{% endblock %}
