{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'homepage/header.html' %}
<section class="page-title-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header-wrap">
					<div class="page-header">
						<h1>회사소개</h1>
					</div>
				   <ol class="breadcrumb">
					  <li><a href="/">홈</a></li>
					  <li class="active">회사소개</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- about-intro-section -->
<section class="about-intro-section">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="about-intro">
					<h2>{{ abouts.title }}</h2>

					<p>{{ abouts.text|linebreaksbr }}</p>


				</div><!-- /.about-intro -->
			</div><!-- /.col-md-7 -->
			<div class="col-md-5"></div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>
<!-- /.about-intro-section -->

<!--history-section -->
<section class="history-section">
	<div class="container">
		<div class="history-timeline">
			<div id="historyCarousel" class="carousel slide carousel-fade" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#historyCarousel" data-slide-to="0" class="active"></li>
			  </ol>

			  <!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="history-year text-center">
							<span class="year">{{ abouts.history_title }}</span>
							<span class="title">{{ abouts.history_sub_title }}</span>
						</div>
						<div class="history-info">
							<h3>{{ abouts.history_text|linebreaksbr }}</h3>
						</div>
					</div><!-- /.item -->
				</div><!-- /.carousel-inner -->
			</div><!-- /.carousel -->
		</div><!-- /.history-timeline -->
	</div><!-- /.container -->
</section>
<!--/.history-section -->


<!--mission-section -->
<section class="mission-section section-padding">
	<div class="container">
		<div class="text-center">
			<h2 class="section-title">장비보유현황</h2>
			<span class="section-sub">기성크레인</span>
		</div>
		<div class="annual-report-carousel">
			<div id="reportCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
				<li data-target="#reportCarousel" data-slide-to="0" class="active"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
				<div class="item active">
					<div class="annual-report clearfix">
						<table class="table">
							<thead>
								<tr>
									<th>장비명</th>
									<th>규격</th>
									<th>형식</th>
									<th>제작사</th>
								</tr>
							</thead>

							<tbody>
							{% for equipmentList in abouts.equipments_set.all %}
								<tr>
									<td>{{ equipmentList.name }}</td>
									<td>{{ equipmentList.standard }}</td>
									<td>{{ equipmentList.form }}</td>
									<td>{{ equipmentList.producer }}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						</div>
					</div><!-- /.annual-report -->
				</div><!--/.item -->
			  </div><!-- /.carousel-inne -->
			</div><!--/.carousel -->
		</div><!-- /.annual-report-carousel -->
</section>
<!--/.history-section -->
{% include 'homepage/cta.html' %}
{% include 'homepage/footer-widget.html' %}
{% endblock %}
