<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="기성크레인 소개 및 크레인 임대, 크레인, 대구, 김천, 칠곡, 구미, 군위, 경산, 영천, 가창, 청도, 창녕, 고령, 성주, 대구 크레인, 김천 크레인, 칠곡 크레인, 구미 크레인, 군위 크레인, 경산 크레인, 영천 크레인, 가창 크레인, 청도 크레인, 창녕 크레인, 고령 크레인, 성주 크레인, crane, equipment">
	    <meta name="author" content="">
		<meta property="og:type" content="website">
		<meta property="og:title" content="(주)기성크레인">
		<meta property="og:description" content="기성크레인 소개 및 크레인 임대, 크레인, 대구, 김천, 칠곡, 구미, 군위, 경산, 영천, 가창, 청도, 창녕, 고령, 성주, 대구 크레인, 김천 크레인, 칠곡 크레인, 구미 크레인, 군위 크레인, 경산 크레인, 영천 크레인, 가창 크레인, 청도 크레인, 창녕 크레인, 고령 크레인, 성주 크레인, crane, equipment">
		<meta property="og:url" content="http://kscrane.co.kr">
		<meta name="google-site-verification" content="ti6GPRV34QLGvWP4OqKr65tmoL0FThmYEAqQqfhGaXI" />
		<meta name="naver-site-verification" content="b2400d1d8d22b1eb44aa94ac2d8d56046c2b179b" />

	    <title>(주)기성크레인</title>
	    <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <!-- Bootstrap Core CSS -->
	    <link href="{% static 'css/bootstrap.min.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- Flaticon CSS -->
	    <link href="{% static 'fonts/flaticon/flaticon.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- font-awesome CSS -->
	    <link href="{% static 'css/font-awesome.min.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- Offcanvas CSS -->
	    <link href="{% static 'css/hippo-off-canvas.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- animate CSS -->
	    <link href="{% static 'css/animate.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- language CSS -->
	    <link href="{% static 'css/language-select.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- owl.carousel CSS -->
	    <link href="{% static 'owl.carousel/assets/owl.carousel.css' %}?{% now 'U' %}" rel="stylesheet">
		<!-- magnific-popup -->
    	<link href="{% static 'css/magnific-popup.css' %}?{% now 'U' %}" rel="stylesheet">
    	<!-- Main menu -->
    	<link href="{% static 'css/menu.css' %}?{% now 'U' %}" rel="stylesheet">
    	<!-- Template Common Styles -->
    	<link href="{% static 'css/template.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- Custom CSS -->
	    <link href="{% static 'css/style.css' %}?{% now 'U' %}" rel="stylesheet">
		<link href="{% static 'css/gallery_thumbs.css' %}?{% now 'U' %}" rel="stylesheet">
	    <!-- Responsive CSS -->
	    <link href="{% static 'css/responsive.css' %}?{% now 'U' %}" rel="stylesheet">
		<!-- Blog part -->
		<link href="css/YTPlayer.css" rel="stylesheet" media="screen">
		<link href="css/blog.css" rel="stylesheet" media="screen">

	    <script src="{% static 'js/vendor/modernizr-2.8.1.min.js' %}?{% now 'U' %}"></script>
	    <!-- HTML5 Shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
		    <script src="{% static 'js/vendor/html5shim.js' %}?{% now 'U' %}"></script>
		    <script src="{% static 'js/vendor/respond.min.js' %}?{% now 'U' %}"></script>
	    <![endif]-->
	</head>


	<body id="page-top">
		<div id="st-container" class="st-container">
		    <div class="st-pusher">
	        	<div class="st-content">
					{% block content %}
					{% endblock %}
                </div> <!-- .st-content -->
		    </div> <!-- .st-pusher -->
			{% include 'homepage/offcanvas-menu.html' %}
        </div> <!-- st-container -->

		<!-- Preloader -->
		<div id="preloader">
			<div id="status">
				<div class="status-mes"></div>
			</div>
		</div>
	    <!-- jQuery -->
	    <script src="{% static 'js/jquery.js'' %}?{% now 'U' %}"></script>
	    <!-- Bootstrap Core JavaScript -->
	    <script src="{% static 'js/bootstrap.min.js'' %}?{% now 'U' %}"></script>
	    <!-- owl.carousel -->
	    <script src="{% static 'owl.carousel/owl.carousel.min.js'' %}?{% now 'U' %}"></script>
	    <!-- Magnific-popup -->
		<script src="{% static 'js/jquery.magnific-popup.min.js' %}?{% now 'U' %}"></script>
		<!-- Offcanvas Menu -->
		<script src="{% static 'js/hippo-offcanvas.js' %}?{% now 'U' %}"></script>
		<!-- inview -->
		<script src="{% static 'js/jquery.inview.min.js' %}?{% now 'U' %}"></script>
		<!-- stellar -->
		<script src="{% static 'js/jquery.stellar.js' %}?{% now 'U' %}"></script>
		<!-- countTo -->
		<script src="{% static 'js/jquery.countTo.js' %}?{% now 'U' %}"></script>
		<!-- classie -->
		<script src="{% static 'js/classie.js' %}?{% now 'U' %}"></script>
		<!-- selectFx -->
		<script src="{% static 'js/selectFx.js' %}?{% now 'U' %}"></script>
		<!-- sticky kit -->
		<script src="{% static 'js/jquery.sticky-kit.min.js' %}?{% now 'U' %}"></script>
	    <!-- GOGLE MAP -->
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPUjNEYMzqaPDk5oA6FOE2ByMxYVg5sD0"></script>
	    <!-- Custom Script -->
	    <script src="{% static 'js/scripts.js' %}?{% now 'U' %}"></script>
		<script src="{% static 'js/gallery_thumbs.js' %}?{% now 'U' %}"></script>
    </body>
</html>