{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'homepage/header.html' %}

<!-- Blog part -->
<link href="{% static 'css/YTPlayer.css' %}?{% now 'U' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/blog.css' %}?{% now 'U' %}" rel="stylesheet" media="screen">

<section class="page-title-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header-wrap">
					<div class="page-header">
						<h1>공사실적</h1>
					</div>
				   <ol class="breadcrumb">
					  <li><a href="#">홈</a></li>
					  <li class="active">공사실적 상세</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- blog-section -->
<section class="blog-section single-blog">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- posts-container -->
			<div class="posts-container">
				<div class="col-md-12 col-sm-12">
					<article class="blog-post-wrapper">
						<header class="entry-header clearfix">

							<h2 class="entry-title"><a href="{% url 'image_board_single' %}?id={{ imageboard.pk }}" rel="">{{ imageboard.subject }}</a></h2>

							<div class="entry-meta">
					            <ul class="list-inline">
					                <li>
					                    <span class="author">
					                        <small>By&nbsp;</small><a class="url" href="#">{{ imageboard.author }}</a>
					                    </span>
					                </li>
					            </ul>
							</div><!-- .entry-meta -->

							<aside>
								<div class="posted-date pull-left">
									<span class="year">{{ imageboard.created_date|date:'Y' }}년&nbsp;</span>
									<span class="month">{{ imageboard.created_date|date:'M' }}&nbsp;</span>
									<span class="day">{{ imageboard.created_date|date:'d' }}일</span>
								</div>
						        <div class="clearfix"></div>
						    </aside>
						</header><!-- .entry-header -->
						<div class="entry-content">
							{{ imageboard.image_text|safe }}
					    </div><!-- .entry-content -->
						<footer class="entry-footer">
							<hr>
							<a href="{% url 'image_board' %}" class="btn btn-primary btn-sm readmore">목록보기</a>
						</footer>
					</article><!-- /.blog-post-wrapper -->

				 </div><!-- /.col -->
			</div> <!-- /posts-container -->
		</div><!-- /row -->
	</div><!-- /container -->
</section><!-- /blog-section -->
{% include 'homepage/cta.html' %}
{% include 'homepage/footer-widget.html' %}
{% endblock %}
