{% extends 'homepage/base.html' %}
{% load staticfiles %}

{% block content %}
{% include 'homepage/header.html' %}

<!-- Blog part -->
<link href="{% static 'css/YTPlayer.css' %}?{% now 'U' %}" rel="stylesheet" media="screen">
<link href="{% static 'css/blog.css' %}?{% now 'U' %}" rel="stylesheet" media="screen">

<section class="page-title-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="page-header-wrap">
					<div class="page-header">
						<h1>사진게시판</h1>
					</div>
				   <ol class="breadcrumb">
					  <li><a href="#">홈</a></li>
					  <li class="active">사진게시판</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- blog-section -->
<section class="blog-section section-content">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- posts-container -->
			<div class="posts-container">
				<div class="col-md-12 col-sm-12">
					{% for imageboard in imageboards %}
					<article class="blog-post-wrapper">
						<div class="figure col-md-12 col-sm-12">
							<!-- <div id="blog-post-carousel" class="carousel slide blog-carousel" data-ride="carousel"> -->
							<div class="carousel slide col-md-9 col-sm-9" style="padding-left: 0px;" id="myCarousel-{{ forloop.counter0 }}" name="myCarousel-{{ forloop.counter0 }}">
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									{% for image in imageboard.boardimages_set.all %}
									<div class="item {% if forloop.counter is 1 %}active{% endif %}">
										<div class="post-thumbnail">
											<img style="height: 450px;" src="{{ image.board_image.url }}">
										</div>
									</div>
									{% endfor %}
								</div>
								<!-- Controls -->
								<a class="left carousel-control" href="#myCarousel-{{ forloop.counter0 }}" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left"></span>
								</a>
								<a class="right carousel-control" href="#myCarousel-{{ forloop.counter0 }}" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right"></span>
								</a>
						    </div>
						</div><!-- /.figure -->
						<header class="entry-header clearfix">
							<aside>
								<div class="posted-date pull-left">
									<span class="year">{{ imageboard.created_date|date:'Y' }}년&nbsp;</span>
									<span class="month">{{ imageboard.created_date|date:'M' }}&nbsp;</span>
									<span class="day">{{ imageboard.created_date|date:'d' }}일</span>
								</div>	
						        <div class="clearfix"></div>
						    </aside>

							<h2 class="entry-title"><a href="{% url 'image_board_single' %}?id={{ imageboard.pk }}" rel="">{{ imageboard.subject }}</a></h2>

							<div class="entry-meta">
					            <ul class="list-inline">
					                <li>
					                    <span class="author">
					                        <small>By&nbsp;</small><a class="url" href="#">{{ imageboard.author }}</a>
					                    </span>
					                </li>
					            </ul>
							</div><!-- .entry-meta -->
						</header><!-- .entry-header -->
						<div class="entry-content">
							<p>{{ imageboard.image_text|striptags|safe|truncatechars:150 }}</p>
					    </div><!-- .entry-content -->
					    <footer class="entry-footer"> 
							<hr>
							<a href="{% url 'image_board_single' %}?id={{ imageboard.pk }}" class="btn btn-primary btn-sm readmore">자세히</a>

						</footer>
					</article><!-- /.blog-post-wrapper -->
					{% endfor %}

					<!-- PAGINATION -->
					<section class="pagination-wrap text-center">

						<div class="blog-pagination">
							<ul class="pagination">
								{% if imageboards.has_previous %}
									<li><a class="prev" href="?page={{ imageboards.previous_page_number }}">Prev.</a></li>
								{% else %}
									<li class="disabled"><a class="prev" href="#">Prev.</a></li>
								{% endif %}

								{% for page in imageboards.paginator.page_range %}
									<li class="{% if imageboards.number == page %}active{% endif %}"><a href="?page={{ page }}">{{page}}</a></li>
								{% endfor %}

								{% if equipment_intros.has_next %}
									<li><a class="next" href="?page={{ imageboards.next_page_number }}">Next</a></li>
								{% else %}
									<li class="disabled"><a class="next" href="#">Next</a></li>
								{% endif %}

							</ul>
						</div>

					</section>
					<!-- END PAGINATION -->

					<div class="col-xs-12">
						<aside class="widget widget_search">
							<form role="search" action="{% url 'search_image_board' %}" method="get" accept-charset="utf-8" class="search-form">
								<label>
									<span class="screen-reader-text">검색 :</span>
									<input type="search" class="form-control search-field" placeholder="Search" value="{{ search_word }}" name="search_word" title="Search for:">
								</label>
								 <button type="submit">찾기<i class="fa fa-angle-right"></i></button>
							</form>
						</aside>
					</div>
					<!-- /col-xs-4 -->

				 </div><!-- /.col -->
			</div> <!-- /posts-container -->
		</div><!-- /row -->
	</div><!-- /container -->
</section><!-- /blog-section -->
{% include 'homepage/cta.html' %}
{% include 'homepage/footer-widget.html' %}
{% endblock %}
